canvas {
    display: block;
    margin: auto;
    border: 1px solid black;
    background-color: #6A3486;
}

#playbutton {
    width: 100px;
    height: 50px;
    display: block;
    margin: auto;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    background-color: white;
    cursor: pointer;
}

body {
    display: block;
    margin: 5 auto;
    background-color: #3A0456;
}