{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'deep_surfer/style.css' %}">
<link rel="shortcut icon" href="{% static 'deep_surfer/favicon.ico' %}"/>
{% block content %}
<body>
  <div id="DeepDreamStyle">
    <h1>Deep Dream Generator</h1>
    <br>
    <form method="post" enctype="multipart/form-data">
      <div id="uploads">
        {% csrf_token %}
        <input type="file" name="aifile">
        <button type="submit">Upload Image for Deep Dream</button><br>
      </div>
      {% if file_url_0 %}
        <p>Image uploaded at: {{ file_url_0 }}</p><br>
        <img src="{{file_url_0}}" align="middle"></img><br>
      {% endif %}
      <br><br>
      <div id="netfuncs"><button id="bigbutton"><a href="genDD">Generate Deep Dream</a></button><br></div>
      <ul id="netparams">
        {% csrf_token %}
        <li>Dream Layer:      <input type="text" placeholder="{{dd_layer}}" name="dd_layer"></li><br>
        {% csrf_token %}
        <li>Deep Render Iter: <input type="number" placeholder="{{dd_render}}" name="dd_render"></li><br>
        {% csrf_token %}
        <li>Octave Number:    <input type="number" placeholder="{{dd_octave}}" name="dd_octave"></li><br>
        {% csrf_token %}
        <li>Octave Scaled:    <input type="number" placeholder="{{dd_scaled}}" name="dd_scaled"></li><br>
      </ul>
      {% if dd_run_complete %}
        <p>Completed the deep dream. Here is your output.</p>
        <img src="{{dd_run_complete}}" align="middle"></img>
      {% endif %}
      {% if dd_run_failed %}
        <p>{{dd_run_failed}}</p>
      {% endif %}
    </form>
  </div>
</body>
{% endblock %}