{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'deep_surfer/stylegame.css' %}">
<h1>BAT HOUSE OPEN SOURCE VIDEO GAMES!!!!</h1>
<div id="container" class="games">
  <h2>Games</h2>
  <p>Check out some fun browser games!</p>
  <p><a href="chess">Play Chess</a></p>
  <p><a href="2048">Play 2048</a></p>
  <p><a href="tetris">Play Tetris</a></p>
  <p><a href="{% static 'deep_surfer/mario/mario.html' %}">Play HTML Mario</a></p>
  <p><a href="{% static 'deep_surfer/space-invaders/space-invaders.html' %}">Play Space Invaders</a></p>
  <p><a href="{% static 'deep_surfer/js-racer/v4.final.html' %}">Play JS Racer</a></p>
</div>