{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'deep_surfer/style.css' %}">
<link rel="shortcut icon" href="{% static 'deep_surfer/favicon.ico' %}"/>
{% block content %}
<body>
  <div id="ImageClassStyle"><br>
    <h1>Image Classifier</h1>
    <form method="post" enctype="multipart/form-data">
      <div id="uploads">
        {% csrf_token %}
        <input type="file" name="aifile">
        <button type="submit">Upload Image for Classification</button><br><br> <!--
        {% csrf_token %}
        <input type="file" name="aifile">
        <button type="submit">PUT OPTIONAL BRAIN HERE</button><br> -->
      </div>
      {% if file_url_0 %}
        <p>Image uploaded at: {{ file_url_0 }}</p><br>
        <iframe src="{{ file_url_0 }}" width="300" height="300" align="middle"></iframe><br>
      {% endif %}<!--
      {% if file_url_1 %}
        <p>Model uploaded at: {{ file_url_1 }}</p><br>
      {% endif %} -->
      <div id="netfuncs">
        <button id="bigbutton"><a href="classifyIC">Classify Image</a></button><br><br><!--
        <button><a href="trainIC">Train Image Classifier on New data</a></button><br>-->
      </div>
      <!--
      <ul id="netparams">
        {% csrf_token %}
        <li>training steps:               <input type="number" placeholder="{{ic_steps}}", name="ic_steps"></li><br>
        {% csrf_token %}
        <li>Learning Rate:                <input type="number" placeholder="{{ic_lrate}}", name="ic_lrate"></li><br>
        {% csrf_token %}
        <li>Flip Left and Right:          <input type="text" placeholder="{{ic_flip}}", name="ic_flip"></li><br>
        {% csrf_token %}
        <li>Random Crop/Scale/Brightness: <input type="number" placeholder="{{ic_random}}", name="ic_random"></li><br>
      </ul>
      -->
      <br>
      {% if ic_run_complete %}
        <p>Here are my Guesses:<br>{{ ic_run_complete }}</p>
      {% endif %}
    </form>
    <h6>*training will be implemented soon!! It's just so beefy and takes long, theres no way a free Heroku server could be able to do that.</h6>
  </div>
</body>
{% endblock %}