{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'deep_surfer/style.css' %}">
<h1>Image Classifier</h1>
<button id="openIC"><a href="openIC">Upload Image for Classification</a></button>
<button id="openICAlt"><a href="openICAlt">Upload Alternate Model</a></button>
<button id="classifyIC"><a href="classifyIC">Classify Image</a></button>
<button id="trainIC"><a href="trainIC">Train Image Classifier on New data</a></button>
<br/>
  <ul>
     <li>training steps: <input type="number" placeholder="{{ic_steps}}"></li><br>
     <li>Learning Rate: <input type="number" placeholder="{{ic_lrate}}"></li><br>
     <li>Flip Left and Right: <input type="text" placeholder="{{ic_flip}}"></li><br>
     <li>Random Crop/Scale/Brightness: <input type="number" placeholder="{{ic_random}}"></li><br>
  </ul>
<br/>
<h1>{{ imageClassOutput }}</h1>