{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'deep_surfer/style.css' %}">
<body>
  <br>
  <p>Wanna play some fucking games bitch?</p>
  <br>
  <h1><a href="games">GAMES</a></h1>
  <br>
  <p>Wanna do some deep learning with my python app?</p>
  <br>
  <h1><strong>BUILD A BOT WORKSHOP</strong></h1>
  <br>
  <h1><a href="tg">Write me somthing Textbot</a></h1>
  <br> 
  <p>That's all I have up online right now. check back soon! :)</p>
  <!--
  <h1><a href="ic">Look through EyeBot</a><h1>
  <br>
  <h1><a href="dd">Trip with DreamBot</a><h1>
  <br>
  <h1><a href="ig">Generate with ImageBot</a></h1>
  <br>
  <h1><a href="">Jam with MusicBot</a></h1> -->
  <br>
</body>