{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'deep_surfer/style.css' %}">
<link rel="shortcut icon" href="{% static 'deep_surfer/favicon.ico' %}"/>
<body>
  <div id="mainpage">
    <br>
    <p>Wake Up, Neo...</p>
    <br>
    <p>Wanna play some video games? <!--<a href="games">Fuck it</a>--></p>
    <br>
    <h1><a href="games">GAMES</a></h1>
    <br>
    <p>Wanna do some deep learning?</p>
    <br>
    <h1><a href="tg">Write something with Textbot</a></h1>
    <br>
    <h1><a href="dd">Make dreams with Dreambot</a><h1>
    <br> <!--
    <h1><a href="ic">See through EyeBot's eyes</a><h1>
    <br>
    <h1><a href="ig">Generate with ImageBot</a></h1>
    <br>
    <h1><a href="mg">Jam with MusicBot</a></h1> -->
    <br>
    <h6>That's all I have up online right now. check back soon! '<'3 :) </h6>
    <h6>I love you. Thank you for existing</h6>
    <br><br>

    <h6><a href="reset">Reset</a></h6>
    <h2><a href="https://github.com/Emmet-Hayes/deep_surfer">@Author: Emmet Hayes</a></h2>
  </div>
</body>