{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'deep_surfer/style.css' %}">


{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'deep_surfer:detail' question.id %}">{{ question.question_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
<br/>
<body>
  <br/>
  <p>Wanna play some fucking games bitch?</p>
  <br/>
  <h1><a href="games">GAMES</a></h1>
  <br/>
  <p>Wanna do some deep learning with my python app?</p>
  <br/>
  <h1><strong>ITS CALLED DEEP_SURFER!</strong></h1>
  <br/>
  <h1><a href="simple_upload">Try Simple Upload</a></h1>
  <br/>
  <h1><a href="netparams">GO HERE</a></h1>
</body>