{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'deep_surfer/style.css' %}">
<div id="TextGenStyle">
  <h1>Text Generator</h1>
  <br>
  {% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file" name="tgtxtfile">
    <button type="submit" id="uploadTG">Upload Text File</button>
  {% if tgtxt_file_url %}
    <p>Text uploaded at: <a href="{{ tgtxt_file_url }}">{{ tgtxt_file_url }}</a></p>
  {% endif %}
  <br>
  {% endblock %}
  {% block content2 %}
    {% csrf_token %}
    <input type="file" name="tgmodfile">
    <button type="submit" id="upmodelTG">Upload Model File</button>
  </form>
  {% if tgmod_file_url %}
    <p>File uploaded at: <a href="{{ tgmod_file_url }}">{{ tgmod_file_url }}</a></p>
  {% endif %} 
  {% endblock %}
  <br>
  <button id="downmodelTG"><a href="downmodelTG">Download Trained Model</a></button>
  <button id="trainTG"><a href="trainTG">Train Text Generator</a></button>
  <button id="runTG"><a href="runTG">Run Text Generator</a></button>
  <br>
    <ul>
      <li>Number of Epochs: <input type="number" placeholder="{{tg_epochs}}" name="num_epochs"></li><br>
      <li>Chars to Generate: <input type="number" placeholder="{{tg_generate}}" name="num_generate"></li><br>
      <li>Temperature: <input type="number" placeholder="{{tg_temper}}"></li><br>
      <li>Sequence Length: <input type="number" placeholder="{{tg_seq}}"></li><br>
    </ul>
  <br>
<h1>Image Classifier</h1>
<button id="openIC"><a href="openIC">Upload Image for Classification</a></button>
<button id="openICAlt"><a href="openICAlt">Upload Alternate Model</a></button>
<button id="classifyIC"><a href="classifyIC">Classify Image</a></button>
<button id="trainIC"><a href="trainIC">Train Image Classifier on New data</a></button>
<br/>
  <ul>
     <li>training steps: <input type="number" placeholder="{{ic_steps}}"></li><br>
     <li>Learning Rate: <input type="number" placeholder="{{ic_lrate}}"></li><br>
     <li>Flip Left and Right: <input type="text" placeholder="{{ic_flip}}"></li><br>
     <li>Random Crop/Scale/Brightness: <input type="number" placeholder="{{ic_random}}"></li><br>
  </ul>
<br/>
<h1>{{ imageClassOutput }}</h1>
<h1>Image Generator</h1>


<button id="uploadIG"><a href="uploadIG">Upload Image folder</a></button>
<button id="downmodelIG>"><a href="downModelIG">Upload Generator Model</a></button>
<button id="IGTrain"><a href="trainIG">Train Image Generator on New Data</a></button>
<button id="IGdownload"><a href="downloadIG">Download Generated Photos</a></button>
  <ul>
    <li>Channels: <input type="number" placeholder="{{ig_channels}}" name="ig_channels"></li><br>
    <li>Batch Size: <input type="number" placeholder="{{ig_batch}}"></li><br> 
    <li>Epochs: <input type="number" placeholder="{{ig_epochs}}"></li><br>
    <li>Random Dimensions: <input type="number" placeholder="{{ig_rdims}}"></li><br>
    <li>Learning Rate: <input type="number" placeholder="{{ig_lrate}}"></li><br>
    <li>Clip Weights: <input type="number" placeholder="{{ig_weights}}"></li><br>
    <li>Discriminator Iters: <input type="number" placeholder="{{ig_diters}}"></li><br>
    <li>Generator Iters: <input type="number" placeholder="{{ig_giters}}"></li><br> 
    <li>Checkpoint Rate: <input type="number" placeholder="{{ig_crate}}"></li><br>
    <li>Save Image Rate: <input type="number" placeholder="{{ig_srate}}"></li><br>
  </ul>
<iframe>{{ imageGenOutput }}</iframe>
<h1>Deep Dream Generator</h1>
<button id="openDD"><a href="openDD">Upload Image for Deep Dream</a></button>
<button id="runDD"><a href="genDD">Generate Deep Dream</a></button>
  <ul>
    <li>Dream Layer: <input type="text" placeholder="{{dd_layer}}"></li><br>
    <li>Deep Render Iter: <input type="number" placeholder="{{dd_render}}"></li><br>
    <li>Octave Number: <input type="number" placeholder="{{dd_octave}}"></li><br>
    <li>Octave Scaled: <input type="number" placeholder="{{dd_scaled}}"></li><br>
  </ul>
<iframe>{{ deepDreamOutput }}</iframe>
