{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'deep_surfer/style.css' %}">
<h1>Text Generator</h1>

<button id="TGRun"><a href="runTextGenerator">Run Text Generator</a></button>
<button id="TGLoad"><a href="loadTG">Load Text Generator</a></button>
   Number of Epochs: <p>{{ tg_epochs }}</p> <br>
  Chars to Generate: <input type="number" placeholder="400" name="tg_gen"><br>
        Temperature: <input type="number" placeholder="1.0" name="tg_temp"><br>
          Trim Text: <input type="number" placeholder="1" name="tg_trim"><br>
   Embed Dimensions: <input type="number" placeholder="128" name="tg_dims"><br> 
          Step Size: <input type="number" placeholder="3" name="tg_step"><br>
    Sequence Length: <input type="number" placeholder="40" name="tg_seq"><br>
         Batch Size: <input type="number" placeholder="128" name="tg_batch"><br>
<h1>{{ textGenOutput|safe }}</h1>
<br/>
<h1>Image Classifier</h1>
<button id="ICOpen"><a href="openIC">Open Image for Classification</a></button>
<button id="ICOpenAlt"><a href="openICAlt">Open Image for Classification with Alternate Model</a></button>
<button id="ICTrain"><a href="trainIC">Train Image Classifier on New data</a></button>
<form action="{% ">
     training steps: <input type="number" placeholder="4000" name="ic_steps"><br>
      Learning Rate: <input type="number" placeholder="0.01" name="ic_lrate"><br>
  Printing Misclass: <input type="text" placeholder="False" name="ic_mis"><br>
Flip Left and Right: <input type="text" placeholder="False" name="ic_flip"><br>
        Random Crop: <input type="number" placeholder="0" name="ic_rcrop"><br> 
       Random Scale: <input type="number" placeholder="0" name="ic_rscale"><br>
  Random Brightness: <input type="number" placeholder="0" name="ic_rbright"><br>
</form>
<h1>{{ imageClassOutput }}</h1>
<h1>Image Generator</h1>
<button id="IGTrain"><a href="trainIG">Train Image Generator on New Data</button>
<form action="{% ">
 Resize Side Length: <input type="number" placeholder="256" name="ig_slength"><br>
             Height: <input type="number" placeholder="128" name="ig_sheight"><br>
              Width: <input type="number" placeholder="128" name="ig_swidth"><br>
           Channels: <input type="number" placeholder="3" name="ig_channels"><br>
         Batch Size: <input type="number" placeholder="64" name="ig_batch"><br> 
             Epochs: <input type="number" placeholder="1000" name="ig_epochs"><br>
  Random Dimensions: <input type="number" placeholder="100" name="ig_rdims"><br>
      Learning Rate: <input type="number" placeholder="2e-4" name="ig_lrate"><br>
       Clip Weights: <input type="number" placeholder="0.01" name="ig_weights"><br>
Discriminator Iters: <input type="number" placeholder="5" name="ig_diters"><br>
    Generator Iters: <input type="number" placeholder="1" name="ig_giters"><br> 
    Checkpoint Rate: <input type="number" placeholder="500" name="ig_crate"><br>
    Save Image Rate: <input type="number" placeholder="50" name="ig_srate"><br>
</form>
<iframe>{{ imageGenOutput }}</iframe>
<h1>Deep Dream Generator</h1>
<button id="DDRun"><a href="genDD">Generate Deep Dream</a></button>
<form action="{% ">
        Dream Layer: <input type="text" placeholder="mixed4c" name="dd_layer"><br>
       Naive Render: <input type="number" placeholder="20" name="dd_nrender"><br>
         Naive Step: <input type="number" placeholder="1.0" name="dd_nstep"><br>
   Deep Render Iter: <input type="number" placeholder="10" name="dd_render"><br>
          Deep Step: <input type="number" placeholder="1.5" name="dd_step"><br> 
      Octave Number: <input type="number" placeholder="4" name="dd_octave"><br>
      Octave Scaled: <input type="number" placeholder="1.4" name="dd_scaled"><br>
           Downsize: <input type="number" placeholder="255.0" name="dd_size"><br>
   Image Noise Size: <input type="number" placeholder="224" name="dd_noise"><br>
 Imagenet Mean Init: <input type="number" placeholder="117.0" name="dd_iminit"><br>
 Gradient Tile Size: <input type="number" placeholder="256" name="dd_gradts"><br> 
   Strip Const Size: <input type="number" placeholder="32" name="dd_strcs"><br>
</form>
<iframe>{{ deepDreamOutput }}</iframe>