{% load static %}
    <head>
        <title>HTML5 Tetris</title>
        <link rel="stylesheet" href="{% static 'deep_surfer/tetris.css' %}">
        <link rel="shortcut icon" href="{% static 'deep_surfer/favicon.ico' %}"/>
    </head>
    <body>
        <audio id="clearsound" src="{% static 'deep_surfer/tetris/sound/pop.ogg' %}" preload="auto"></audio>
        <canvas width='300' height='600'></canvas>
        <button id="playbutton" onclick="playButtonClicked();">Play Tetris</button>
        <script src="{% static 'deep_surfer/tetris/js/tetris.js' %}"></script>
        <script src="{% static 'deep_surfer/tetris/js/controller.js' %}"></script>
        <script src="{% static 'deep_surfer/tetris/js/render.js' %}"></script>
    </body>