{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'deep_surfer/style.css' %}">
{% block content %}
<body>
<div id="TextGenStyle">
  <h1>Text Bot</h1>
  <br>
  <form method="post" enctype="multipart/form-data">
    <div id="uploads">
      {% csrf_token %}
      <input type="file" name="aifile">
      <button type="submit">GIVE TEXTBOT TEXT</button>
      <br><br>
      {% csrf_token %}
      <input type="file" name="aifile">
      <button type="submit">PUT OPTIONAL BRAIN HERE</button>
      {% if file_url_0 %}
        <p>Text uploaded at: {{ file_url_0 }}</p>
      {% endif %}
      {% if file_url_1 %}
        <p>Model uploaded at: {{ file_url_1 }}</p>
      {% endif %} 
      <br><br>
    </div>
    <div id="netfuncs">
      <!-- <button><a href="trainTG">GO TO SCHOOL textbot!</a></button> -->
      <button><a href="runTG">WRITE FOR ME textbot!</a></button>
    </div>
    <ul id="netparams">
      {% csrf_token %}
      <li>Number of Epochs:  <input type="number" placeholder="{{tg_epochs}}" name="tg_epochs"></li><br>
      {% csrf_token %}
      <li>Chars to Generate: <input type="number" placeholder="{{tg_generate}}" name="tg_generate"></li><br>
      {% csrf_token %}
      <li>Temperature:       <input type="float" placeholder="{{tg_temper}}" name="tg_temper"></li><br>
      {% csrf_token %}
      <li>Sequence Length:   <input type="number" placeholder="{{tg_seq}}" name="tg_seq"></li><br>
    </ul>
    {% if tg_run_complete %}
     <br><br><p> {{ tg_run_complete }}</p>
    {% endif %}
    <br>
  </form>
  <p>*Training will be implemented soon!
</div>
</body>
{% endblock %}